body {
    background: linear-gradient(to right, #1e1b4b, #3f3cbb);
    color: #fefefe;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    padding: 2rem;
  }

  h1 {
    color: #ffccff;
    text-align: center;
  }

  h2 {
    color: #ffccff;
  }

  .casa {
    background: rgba(255, 255, 255, 0.05);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  }

  .casa h2 {
    margin-top: 0;
  }

  .voltar a {
    display: inline-block;
    background-color: #6a4c9c; /* Roxo suave */
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .voltar a:hover {
    background-color: #9b5fca; /* Roxo mais claro ao passar o mouse */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}